.edit-wish-item
    
    .edit-wish-form
        display: flex
        flex-direction: column

    .edit-wish-input
        border: none
        outline: none

    .edit-name
        font-weight: 700

    .edit-link
        font-weight: 300